#roll {
    height: 60px;
}

.hidden {
    display: none !important;
}

.color-base, .die-base {
    background-color: yellow;
    color: black;
}

.color-skill, .die-skill, .mod {
    background-color: green;
    color: white;
}

.color-gear, .die-gear {
    background-color: #202020;
    color: white;
}

.die {
    text-align: center;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
}

.die-negative, .mod.color-negative {
    background-color: #c00;
}

.gear {
    padding-left: 10px;
}

.gear-name {
    width: 100px;
}

.special-skill select {
    display: inline-block;
    width: 120px;
}

label.small {
    width: 80px;
    display: inline-block;
}

input.small {
    width: 40px;
}

.save-load {
    clear: both;
    padding-top: 10px;
}

sup {
    position: absolute;
    top: -15px;
    right: 3px;
    font-size: 50%;
}

[data-toggled-by]:not(.active), .toggled-by-job:not(.active) {
    display: none;
}

.stat-value {
    font-weight: bold;
    color: #c80;
}

.skill-value {
    font-weight: bold;
    color: #080;
}

.mod-value-positive {
    font-weight: bold;
    color: #080;
}

.mod-value-negative {
    font-weight: bold;
    color: #c00;
}

.gear-value {
    font-weight: bold;
    color: black;
}

.tabs .compact {
    padding: 0;
}

.hidden {
    display: none;
}

div.inline {
    display: inline-block;
}

#notes {
    width: 100%;
    height: 100%;
    min-height: 200px;
}

#tab-gear table {
    width: 100%;
}

#tab-gear table tbody tr:hover {
    background-color: #ddf;
}

table {
    border-collapse: collapse;
}

#tab-gear tbody tr:nth-child(2n) {
    background-color: #eee;
}

label+input, label+select {
    margin-left: 5px;
}

.align-right {
    text-align: right;
}

input[readonly] {
    border-style: none;
}